<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-6 order-1 order-lg-0">
      <p>Turma: <span class="turma">ADS0304N</span></p>
      <p>Turno: <span class="turno">Noite</span></p>
      <p>Unidade: <span class="unidade">Bonsucesso</span></p>
    </div>
    <div class="col-lg-1 col-md-1 col-2 col-6 order-2 order-lg-0">
      <img src="assets/img/foto_perfil.jpg" class="img-fluid" alt="Foto do aluno" />
    </div>
    <div
      class="col-lg-2 offset-lg-6 col-md-3 offset-md-4 col-4 offset-2 col-12 order-3 order-lg-0">
      <p>
        Nome: <span class="nome">Lucas Sales Pires</span>
      </p>
    </div>
  </div>
</div>
