<div class="container">
  <div class="row align-items-center">
    <div class="col-6 col-md-5 col-lg-5 col-sm-6 ">
      <p>Turma: <span class="turma">ADS0303N</span></p>
      <p>Turno: <span class="turno">Noite</span></p>
      <p>Unidade: <span class="unidade">Bonsucesso</span></p>
    </div>
    <div class="col-6 col-md-2 col-lg-2  col-sm-6 order-sm-1 text-right mt-3 ">
      <img src="assets/img/foto_perfil.jpg" class="img-fluid img-thumbnail" style="max-width: 100px;" alt="Foto do aluno" />
    </div>
    <div class=" col-12 col-md-5 col-lg-5  col-sm-12 order-sm-2 text-center">
      <p>Nome: <span class="nome">Lucas Sales Pires</span></p>
    </div>
  </div>
</div>
